<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp2.Properties.Settings.warehousedbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Sidharth\Downloads\Final-UI v.3.0\Final-UI v.3.0\WpfApp2\WpfApp2\warehousedb.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfApp2.Properties.Settings.warehousedbConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Sidharth\Downloads\Final-UI v.3.0\Final-UI v.3.0\WpfApp2\WpfApp2\warehousedb.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfApp2.Properties.Settings.warehousedbConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Sidharth\Downloads\Final-UI v.3.0\Final-UI v.3.0\WpfApp2\WpfApp2\warehousedb.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>